<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BarangayPantal">

        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.AdminDashboardActivity" />
        <activity android:name=".ui.activities.UserDashboardActivity" />
        <activity android:name=".ui.activities.ResidentsActivity" />
        <activity android:name=".ui.activities.AddResidentActivity" />
        <activity android:name=".ui.activities.ViewResidentActivity" />
        <activity android:name=".ui.activities.SignupActivity" />
        <activity android:name=".ui.activities.HouseholdsActivity" />
        <activity android:name=".ui.activities.AddHouseholdActivity" />
        <activity android:name=".ui.activities.AnnouncementsActivity" />
        <activity android:name=".ui.activities.ServicesActivity" />
        <activity android:name=".ui.activities.RequestServiceActivity" />
        <activity android:name=".ui.activities.RequestsActivity" />
        <activity android:name=".ui.activities.AdminRequestsActivity" />
        <activity android:name=".ui.activities.ReportsActivity" />
        <activity android:name=".ui.activities.MoreActivity" />
        <activity android:name=".ui.activities.PhoneAuthActivity" />
        <activity android:name=".ui.activities.ManageAnnouncementsActivity" />
        <activity android:name=".ui.activities.AddAnnouncementActivity" />
        <activity android:name=".ui.activities.MakeAnnouncementActivity" />
        <activity android:name=".ui.activities.ManageServicesActivity" />
        <activity android:name=".ui.activities.ManageRequestsActivity" />
        <activity android:name=".ui.activities.ManageReportsActivity" />

    </application>

</manifest>